@import 'scss/var';
@import 'scss/header';
@import 'scss/main';
@import 'scss/footer';

// INITIALIZATION
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// HELPER
.border {
  border: 1px solid black;
}
.h-100 {
  height: 100px;
}
