// IMPORT
@import 'scss/var';
@import 'scss/header';
@import 'scss/main';
@import 'scss/footer';

// INITIALIZATION
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// GENERAL
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
span {
  font-size: 12px;
}
ul {
  list-style-type: none;
  li {

    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: $bg-p;
    }
  }
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: flex;
  flex-direction: row;
  background-color: $bg-button;
  color: $bg-w;
  padding: 5px;
  font-size: 10px;
  align-items: center;
  border: none;

  &:hover {
    color: $bg-button;
    background-color: $bg-w;
    border: 0.3px solid $bg-button;
  }

  img {
    height: 15px;
  }
}

// HELPER
.border {
  border: 1px solid black;
}
.h-100 {
  height: 100px;
}
