main {

  section.rabbits {
    background-color: $bg-p;
    color: $bg-w;
    padding: 30px;
    text-align: center;

    section.top-or-bottom {
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 20px;
      }

      section.squares {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        div.square {
          width: calc(100% / 3);
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            height: 100px;
            margin-bottom: 10px;
          }

          span {
            font-size: 10px;
          }
        }
      }

      section.rabbit {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
          height: 200px;
        }
      }
    }

    div.line {
      margin: 30px 0;
      border-top: 0.3px solid lightgrey;
    }

    h2.here {
      margin-top: 50px;
    }
  }

  section.animals {
    background-color: $bg-w;
    padding: 25px;

    section.normal-or-reverse {
      padding: 10px 0;
      display: flex;
      width: 100%;

      div.big {
        width: 50%;
      }

      div.only-img {

        img {
          width: 100%;
        }
      }

      div.not-only-img {
        padding: 10px 0;
        display: flex;
        flex-direction: row;

        div.sub-not-only-img {
          display: flex;
          flex-direction: column;
          width: 70%;
          h2 {
            margin-bottom: 30px;

          }

          p {
            margin-bottom: 20px;
          }

          a {
            font-size: 10px;
          }

          img {
            margin-top: 20px;
            width: 80%;
          }
        }
      }
    }

    section.normal {
      flex-direction: row;
    }

    section.reverse {
      flex-direction: row-reverse;

      div.not-only-img {
        justify-content: flex-end;

        div.sub-not-only-img {

        }
      }
    }
  }

  section.see {
    background-color: $bg-p;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      line-height: 50px;
      margin-bottom: 30px;
      color: $bg-w;

      img {
        height: 25px;
      }
    }

    div.card {
      background-color: $bg-w;
      width: 50%;
      border-radius: 10px;
      border: 0.3px solid lightgrey;
      margin-bottom: 30px;
      padding: 25px;

      div.text {
        margin-bottom: 30px;
      }

      div.images {

        img {
          height: 30px;
        }
      }
    }

    div.but {
      display: flex;
      flex-direction: row;

      button {
        margin: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  main {
    section.rabbits {

      section.top-or-bottom {

        section.squares {
          flex-direction: column;
          align-items: center;

          div.square {

          }
        }
      }
    }
  }
}

@media screen and (max-width: 624px) {
  main {

    section.animals {

      section.normal-or-reverse {

        div.big.not-only-img {
          width: 100%;

          div.sub-not-only-img {
            width: 100%;
          }
        }

        div.only-img {
          display: none;
        }
      }
    }

    section.see {

      h1 {
        font-size: 16px;
        line-height: 20px;
      }

      div.card {
        padding: 10px;
        width: 90%;

        span {
          font-size: 10px;
        }
      }
    }
  }
}
